@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
h1{
  font-size: 0px;
  display: inline-block;
}
.wrapper ul li{
  display: inline-block;
}
.wrapper h1{
  padding-top: 10px;
  width: 350px;
  margin-left: 5%;
}
nav{
  display: inline-block;
  float: right;
  width:300px;
}
nav ul li{
  padding: 5px;
}
nav a{
  border: 2px solid rgb(152, 176, 150);
  border-radius: 2px;
  color: rgb(152, 176, 150);
  padding: 10px;
}
nav a::first-letter{
  text-transform: capitalize;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* main banner styles starts */
.main-banner img{
  postion: relative;
}
.banner-content h2{
  width: 58%;
  margin: 0 auto;
  font-family: serif;
  font-size: 3em;
  color: rgb(41, 48, 62);
  padding-bottom: 30px;
  line-break: normal;
}
.banner-content h2::first-letter{
  text-transform: capitalize;
}
.banner-content span{
  font-family: sans-serif;
  font-size: 25px;
  color: rgb(41, 48, 62);
}
.banner-content span:first-child{
  text-transform: capitalize;
}
.banner-content{
  position: absolute;
  top: 270px;
  text-align: center;
  margin-left: 7%;
}
.banner-content a{
  border: 2px solid rgb(152, 176, 150);
  border-radius: 2px;
  color: rgb(152, 176, 150);
  padding: 10px;
}
.banner-content li{
  padding: 10px 0;
  width:25%;
}
.banner-content input{
  padding: 20px 150px;
  margin: 0 auto;
  margin-top: 2%;
}
input[type=search]{
  font-size: 30px;
  padding-left: 20px;
}

/* main banner style ends */
/* get inspired section starts */
h3{
font-family: serif;
font-size: 3em;
color: rgb(41, 48, 62);
text-align: center;
padding: 40px 0 40px 0;
}
h3:first-of-type{
  text-transform: capitalize;
}
.book-handyman figure{
  width: 45%;
  display: inline-block;
}
.book-handyman div{
  display: inline-block;
  width: 40%;
  margin-left: 60px;
}
.book-handyman span{
  font-family: serif;
  font-size: 2em;
  color: rgb(41, 48, 62);
  text-align: center;
}
.book-handyman a{
  font-size: 20px;
  text-decoration: none;
  border: 2px solid rgb(87, 175, 53);
  border-radius: 2px;
  background-color: rgb(87, 175, 53); 
  padding: 10px;
  color: white; 
}
.inspired{
  margin-left: 10%;
}
.wrapper{
  margin-right: 20%;
}
.three-slider ul a{
  font-size: 20px;
  text-decoration: none;
  border: 2px solid rgb(87, 175, 53);
  border-radius: 2px;
  background-color: rgb(87, 175, 53); 
  padding: 10px;
  color: white;
  margin: 1% 25%;
}
.three-slider ul li{
  margin-top: 5%;
  padding: 10px;
}
.three-slider figcaption{
  text-transform: capitalize;
  font-size: 25px;
  padding: 30px;
  text-align: center;
}
/* get inspired section ends */
.how-it-works{
  margin: 0% 20%; 
}
h4{
  font-family: serif;
  font-size: 3em;
  color: rgb(41, 48, 62);
  text-align: center;
  padding: 40px 0 40px 0;
}
h4:first-of-type{
  text-transform: capitalize;
}
.four-works{
  text-align: center;
}
/* the task figure starts */
.the-task figure{
  width: 20%;  
  display: inline-block;
  margin: 0 5% 5% 0;
}
.the-task img{
  margin-top: -70%;
}
.describe{
  width: 70%;
  display: inline-block;
}
.describe h5{
  text-align: left;
  text-transform: capitalize;
  font-family: serif;
  color: rgb(41, 48, 62);
  font-size: 2em;
  margin: 20px 0;
}
.describe p{
  text-align: left;;
  font-family: sans-serif;
  color: rgb(41, 48, 62);
  font-size: 1em;
  word-spacing: 10px;
  width: 80%;
  margin: 20px 0;
}
.describe p::first-letter{
  text-transform: capitalize;
}
.describe span{
  border: 2px solid rgb(41, 48, 62);
  border-radius: 80%;
  padding: 15px;
  margin-right: 100%;
}
/* the-task figure ends */
/* get-matched figure starts */
.get-matched figure{
  width: 27%;  
  display: inline-block;
  margin: 0 5% 5% 0;
}
.get-matched img{
  margin-right: 0%;
}
.matched{
  width: 40%;
  display: inline-block;
  float: left;
}
.matched h5{
  text-align: left;
  text-transform: capitalize;
  font-family: serif;
  color: rgb(41, 48, 62);
  font-size: 2em;
  margin: 20px 0;
}
.matched p{
  text-align: left;
  font-family: sans-serif;
  color: rgb(41, 48, 62);
  font-size: 1em;
  word-spacing: 10px;
  width: 80%;
}
.matched p::first-letter{
  text-transform: capitalize;
}
.matched span{
  border: 2px solid rgb(41, 48, 62);
  border-radius: 80%;
  padding: 15px;
  text-align: left;
  margin-right: 100%;
}
/* get-matched figure ends */
/* get-done figure starts */
.get-done figure{
  width: 20%;  
  display: inline-block;
  margin: 0 5% 5% 0;
}
.get-done img{
  margin-top: -70%;
}
.done{
  width: 70%;
  display: inline-block;
}
.done h5{
  text-align: left;
  text-transform: capitalize;
  font-family: serif;
  color: rgb(41, 48, 62);
  font-size: 2em;
  margin: 20px 0;
}
.done p{
  text-align: left;;
  font-family: sans-serif;
  color: rgb(41, 48, 62);
  font-size: 1em;
  word-spacing: 10px;
  width: 80%;
  margin: 20px 0;
}
.done p::first-letter{
  text-transform: capitalize;
}
.done span{
  border: 2px solid rgb(41, 48, 62);
  border-radius: 80%;
  padding: 15px;
  margin-right: 100%;
}
/* get-done figure ends */
.the-pledge figure{
  width: 200px;
  display:inline-block;
  margin: 5% 5% 5% ;
  margin-left: -12%;
}
.pledge{
  display: inline-block;
  width: 60%;
}
.pledge h5{
  text-align: left;
  text-transform: capitalize;
  font-family: serif;
  color: rgb(41, 48, 62);
  font-size: 2em;
  margin: 20px 0;
}
.pledge p{
  text-align: left;;
  font-family: sans-serif;
  color: rgb(41, 48, 62);
  font-size: 1em;
  word-spacing: 10px;
  width: 100%;
  margin: 20px 0;
}
.pledge p::first-letter{
  text-transform: capitalize;
}
/* how-it-wotks section ends */
.people-slider{
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}
.people-slider figure{
  width: 30%;
  margin: 5%;
  display: inline-block;
}
.people-slider img{
  border: 2px solid rgb(245, 240, 246);
  border-radius: 80%;
  background-color: rgb(245, 240, 246);
}
.people-slider span{
  width: 50%;
  font-size: 20px;
  display: inherit;
}
.nadine span{
  display: inherit;
  padding: 10px;
}
/* real-people ends */
/* company-logos starts */
.company-logos{
  max-width: 95%;
  margin: 0 auto;
  margin: 5%;
}
.company-logos li{
  padding: 10px;
}
/* company- logos ends */
/* installing app starts */
.app{
  max-width: 90%;
  margin: 0 auto;
}
.mobile{
  display: inline-block;
  width: 40%;
}
.mobile figure{
  width: 70%;
  display: inline-block;
}
.book{
  display: inline-block;
  width: 40%;
} 
.book a{
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  background: black;
  color: white;
  width: 40%;
  font-size: 20px;
  margin: 10px;
}
.book a:first{
  display: none;
}
/* installing app ends */
/* get-help section starts */
.get-help{
  max-width: 90%;
  margin: 0 auto;
}
.help a{
  border: 2px solid rgb(152, 176, 150);
  border-radius: 2px;
  color: rgb(152, 176, 150);
  padding: 10px;
}
.help li{
  padding: 10px 0;
  text-align: center;
  width:20%;
}
form input{
  padding:20px 200px;
  margin-top: 2%;
  margin-left: 30%;
  margin-bottom: 10%;
}
input[type=search]{
  font-size: 30px;
  padding-left: 20px;
}
.help ul{
  text-align: center;
}
/* get-help section ends */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer{
  background-color: rgb(106, 112, 124);
}
footer a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.twitter::after{
  content:"\f099";
  font-family: fontAwesome;
}
.facebook::after{
  content:"\f082";
  font-family: fontAwesome;
}
.instagram::after{
  content:"\f16d";
  font-family: fontAwesome;
}
h6{
  color: rgb(147, 153, 169);
  font-size: 20px;
  margin-left: 40px;
}
h6::first-letter{
  text-transform: capitalize;
}
.follow{
  margin-bottom: 2%;
  padding-top: 2%;
}
.discover{
  max-width: 30%;
  display: inline-block;
}
.discover ul{
  width: 50%;
  margin-left: 40px;
}
.discover li{
  padding: 5px;
}
.discover li::first-letter{
  text-transform: capitalize;
}
.company{
  max-width: 40%;
  display: inline-block;
}
.company h6{
  margin-left: 0px;
}
.company {
  margin-bottom: 10%;
  margin-top: -20%;
}
.company ul{
  width: 30%;
  display: inline-block;
}
.company li{
  margin-top: 10%;
}
.download-app{
  max-width: 35%;
  display: inline-block;
  vertical-align: top;
}
.download-app span{
  display: block;
  width: 100%;
}
.download-app a{
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  background: black;
  color: white;
  width: 35%;
  font-size: 20px;
  margin: 10px;
}
.download-app a:first{
  display: none;
}
.download-app h6{
  margin-left: 0px;
}
.download-app span{
  color: white;
  font-size: 20px;
}
.apple-store::before{
content: "/f179";
font-family: fontAwesome;
}
.play-store::before{
  content: "/f3ab";
  font-family: fontAwesome;
}


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  